/* Google Font Import Link */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background-color: #f0f0f0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

nav {
  position: fixed; /* Keep the navigation fixed at the top */
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  transition: all 0.4s ease;
  z-index: 3; /* Ensure the navigation is above the blurred background */
}

.icon-img {
  height: 50px;
  width: 50px;
}

nav.sticky {
  padding: 15px 20px;
  background: #23af5e;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

nav .nav-content {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #fff;
  margin: 20px 0 0;
}

nav.sticky .logo a {
  color: #fff;
}

.nav-content .nav-links {
  display: flex;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 5px 8px;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 4px;
  transition: all 0.3s ease;
}

.nav-links li a:hover {
  color: #23af5e;
}

nav.sticky .nav-links li a {
  color: #fff;
  transition: all 0.4s ease;
}

nav.sticky .nav-links li a:hover {
  color: #0a2131;
}

/* Meal Section */
.meal {
  background-color: #ad2536;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 50px;
  height: max-content;
  padding-top: 48px;
  position: relative;
}

h1 {
  color: #fff;
  margin-left: 250px;
  font-family: Arial, sans-serif;
}

.meal .header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
  margin-top: 50px;
}

.meal .header h1 {
  margin: 0;
}

.selected-plan {
  text-align: right;
}

.selected-plan .selection {
  font-style: italic;
  font-weight: lighter;
}

/* Content Layout */
.meal .content {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  height: max-content;
}

.meal .box {
  background-color: #f0f0f0;
  text-align: center;
  padding: 1px;
  padding-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  width: 30%;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  transform-style: preserve-3d;
  height: max-content;
}

.meal .box:hover {
  transform: translateZ(10px) scale(1.05) rotateX(2deg) rotateY(2deg);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
}

.meal .box img.box-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
  margin-bottom: 10px;
}

.meal .box h3 {
  color: #333;
}

.meal .box p {
  text-align: left;
  margin: 10px;
  margin-bottom: 20px;
  line-height: 1.6;
  color: #333;
}

/* Button Styling */
.meal .cta-button {
  background-color: #23af5e;
  color: #fff;
  font-weight: bold;
  padding: 15px 25px;
  text-decoration: none;
  border: none; /* Removes the default button border */
  border-radius: 5px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.meal .cta-button:hover {
  background-color: #1e8a4d;
  transform: scale(1.1);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.end {
  background-color: #f0f0f0; /* Light gray background */
  padding: 50px;
  text-align: center;
}

.content {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  color: #fff;
  gap: 10px;
}

.box {
  background-color: #d8b816;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.box h3 {
  color: #fff;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.box ul {
  list-style: none;
  padding: 0;
  align-items: center;
  height: auto;
}

.box ul li {
  margin-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 2rem;
  margin: 0 10px;
  color: #fff;
}

.footer,
a {
  margin-top: 40px;
  color: #666;
  font-size: 0.9rem;
}

.footer .logo {
  margin-bottom: 10px;
}

.footer p {
  margin-bottom: 10px;
}

.footer .icon-img {
  height: 30px;
  width: 30px;
}

.wrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  list-style: none;
  height: 120px;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper .icon {
  position: relative;
  color: #23af5e;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  -webkit-transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  -webkit-box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  -webkit-transform: translate(-50%) rotate(45deg);
  -ms-transform: translate(-50%) rotate(45deg);
  transform: translate(-50%) rotate(45deg);
  -webkit-transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

/* Hamburger Menu Icon */
.hamburger {
  display: none; /* Hidden on larger screens */
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 768px) {
  /* Hide navigation links on smaller screens */
  .nav-content .nav-links {
    display: none;
    flex-direction: column;
    background-color: #23af5e;
    position: absolute;
    top: 100%; /* Position below the nav bar */
    right: 0;
    width: 100%;
    text-align: center;
  }

  /* Display the hamburger menu on smaller screens */
  .hamburger {
    display: block;
  }

  /* Show nav links when active */
  .nav-content .nav-links.active {
    display: flex;
  }

  /* Adjustments for links inside the dropdown */
  .nav-links li {
    margin: 10px 0;
  }
}

/* Responsive Design */
@media (max-width: 1200px) {
  .meal .content {
    gap: 30px;
  }

  .meal {
    height: max-content;
  }

  .meal .box {
    width: 100%;
    margin-bottom: 20px;
    height: max-content;
  }

  h1 {
    margin-left: 30px;
    font-size: 2rem;
    margin-top: 80px;
  }

  .cta-button {
    margin-bottom: 10px;
  }

  /* Nav content */
  .nav-content {
    padding: 10px;
  }
  .logo a {
    font-size: 30px;
  }
  .nav-links li a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .meal .content {
    flex-direction: column;
  }

  /* Adjusting navigation links */
  .nav-content .nav-links {
    display: none;
  }
  .logo a {
    font-size: 24px;
  }

  .meal .content {
    flex-direction: column;
  }

  /* Adjust button size */
  .welcome a,
  .market a,
  .budget a {
    padding: 10px 20px;
  }

  /* Flex directions */
  .content,
  .wrapper {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .meal {
    height: max-content;
  }

  .meal .content .box{
    height: max-content;
  }

  /* Navigation font size and logo size */
  .logo a {
    font-size: 20px;
  }
  .nav-links li a {
    font-size: 14px;
  }

  .icon-img {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 320px) {
  .meal {
    height: max-content;
  }

  .meal .content .box{
    height: max-content;
  }
}
